.homeCarousel {
    width: 100%;
    height: auto;
}

.caouselhomeee {
    width: 100%;
    height: 80vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.caouselhomeee1 {
    width: 100%;
    height: 60vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.homecarouselitem1,
.homecarouselitem {
    width: 90%;
    height: 350px;
}




.find11 {
    width: 100%;
    height: 50vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;

}

.find11_item {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.find_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.find1_item_button>button {
    width: 180px;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(255, 204, 0);
    color: #111;
    border: none;
    border-radius: 10px;
    transition: .5s;
}

@media screen and (max-width:765px) {
    .find11_item {
        width: 95%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .find1_item_button{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .find1_item_text h2{
        font-size: 20px;
        letter-spacing: .2px;
        font-weight: normal;
    }

}

.find1_item_button>button:hover {
    background-color: aqua;
}

.find_box h2 {
    width: 70%;
}

.carousel_box_btn {
    width: 180px;
    height: 60px;
    border-radius: 7px;
    color: #0c0c0c;
    background-color: rgb(255, 190, 61);
    border: none;
    font-weight: 800;
    font-size: 15px;
    transition: .7s;
    cursor: pointer;

}


.carousel_box_btn:hover {
    background-color: aqua;
}

.icons_carousel1 {
    font-size: 22px;
    margin-right: 5px;

}

.crousel_imgs2{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.youtube_videos{
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;    
    


}

.mySwiper{
    overflow-y: auto;
}

