.mySwiper {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.crousel_imgs {
    min-width: 100px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crousel_imgs>img {
    width: 220px;
    height: 220px;
}

.homeCarousel {
    width: 100%;
    height: auto;
}

.h1_item_1 span{
    font-size: 30px;
}

.caouselhomeee {
    width: 100%;
    height: 60vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

@media screen and (max-width:760px) {
    .caouselhomeee {
        margin-top: 200px;
    }
}
    .caouselhomeee1 {
        width: 100%;
        height: 60vh;
        background-color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .homecarouselitem1,
    .homecarouselitem {
        width: 80%;
        height: 350px;
    }

    @media screen and (max-width:850px) {

        .homecarouselitem1,
        .homecarouselitem {
            width: 95%;
            height: 350px;
        }
    }