.FormInfo{
    width: 100%;
    /* width: calc(100%-300px); */
    /* background-color: antiquewhite; */
    padding: 70px 50px;
}

.FormInfo .btn-secondary{
    width: 100%;
}

.FormInfo .form-container{
    width: 50%;
}

.FormInfo label{
    margin-bottom: 8px;
}

.input-group{
    width: 100%;
}