@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap);

body {
  font-family: "Lato", sans-serif;
}
.Dashboard {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 70px;
  row-gap: 45px;
  padding:6% 100px;
  background-color: rgb(4, 0, 0);
}

.boards {
  z-index: 3;
  /* background-color: #fff; */
  text-decoration: none;
  width: 370px;
  height: 210px;
  color: white;
  padding:10px 25px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  border-radius: 45px 10px;
  border: 3px ridge white;
  box-shadow: rgba(95, 122, 148, 0.4) -5px 5px,
    rgba(95, 122, 148, 0.3) -10px 10px, rgba(95, 122, 148, 0.2) -15px 15px,
    rgba(95, 122, 148, 0.1) -20px 20px, rgba(95, 122, 148, 0.05) -25px 25px;
}
.boards:hover {
  border: 4px ridge white;
  transform: scale(1.009);
}
.boards:hover p {
  transition: 0.5s;
}
.boards p {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  /* color: rgba(165, 55, 202, 0.681); */
  color: white;
  letter-spacing: 3px;
  text-shadow: 0 2px 1px rgba(159, 156, 206, 0.415),
    -1px 3px 1px rgba(201, 212, 221, 0.805),
    -2px 3px 1px rgba(8, 11, 12, 0.827);
}

.boards span {
  color: #fff;
  text-align: justify;
  font-size: 20px;
  line-height: 150%;
}
.boards  b{
    height: 45px;
    font-weight: bold;
    font-size: 22px;
    text-transform: capitalize;
}
.paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(255, 255, 200, 0.09);
  z-index: 0;
}


